<div class='main-nav'>
    <div class='navbar navbar-inverse' style="display: block;">
        <div class='navbar-header'>
            <p class='navbar-brand teamsTitle'>Question Dashboard</p>
        </div>

        <div *ngIf="errorMessage" style="color:red">{{errorMessage}}</div>
        
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li *ngFor="let team of teamGroupDetail" [routerLinkActive]="['link-active']">
                    <a routerLink="/question/{{team.id}}" (click)="teamNav(team.id)" class="teamsText navtext">
                        <span class="nav-icon">
                            <img [src]="team.safePhotoByteUrl" width="32" height="32" />
                        </span>
                        {{team.displayName}}
                    </a>
                </li>
                <li *ngIf="(isLecturer || isDemonstrator ||isAdmin)&& authService.loggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/courseadmin']" (click)="courseAdminNav()" class="teamsText navtext">
                        <fa-icon [icon]="faChalkboardTeacher" size="2x"></fa-icon>Course Admin
                    </a>
                </li>
                <li *ngIf="(isLecturer || isDemonstrator ||isAdmin)&& authService.loggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-useradmin']" (click)="addStudentNav()" class="teamsText navtext">
                        <fa-icon [icon]="faUsersCog" size="2x"></fa-icon>User Admin
                    </a>
                </li>
                <li *ngIf="(isLecturer || isDemonstrator ||isAdmin)&& authService.loggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/tutorialadmin']" (click)="tutorialAdminNav()" class="teamsText navtext">
                        <fa-icon [icon]="faUserFriends" size="2x"></fa-icon>Tutorial Admin
                    </a>
                </li>
                <li *ngIf="(isLecturer || isDemonstrator ||isAdmin)&& authService.loggedIn" [routerLinkActive]="['link-active']" #MyStudentsActive="routerLinkActive">
                    <a [routerLink]="['/mystudents']" (click)="myStudentNav()" class="teamsText navtext">
                        <fa-icon [icon]="faUsers" size="2x"></fa-icon>My Students
                    </a>
                </li>
                <li *ngIf="!authService.loggedIn" [routerLinkActive]="['link-active']">
                    <a (click)="authService.signIn()" class="teamsText navtext">
                        <fa-icon [icon]="faSignInAlt" size="2x"></fa-icon>Sign In
                    </a>
                </li>
                <!--<li *ngIf="authService.loggedIn" [routerLinkActive]="['link-active']">
                    <a (click)="authService.signOut()" class="teamsText navtext">
                        <fa-icon [icon]="faSignInAlt" size="2x"></fa-icon>Sign Out
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
