<h3>My Students</h3>
<p>Demonstrator dashboard to see their students data</p>


<p> Your tutorial group(s):</p>
<div id="myBtnContainer">
    <button [ngClass]="{'btn classFilterBtn' : true,'active': selectedTutorial === 'ALL'}" (click)="filterByCode('ALL')"> Show all</button>
    <button [ngClass]="{'btn classFilterBtn' : true,'active': selectedTutorial === tutorial.code}" *ngFor="let tutorial of currentUser.tutorialGroups" (click)="filterByCode(tutorial.code)">{{tutorial.code}}</button>
</div>

<tabs>
    <tab tabTitle="Unanswered Questions" tabActive="true">
        <div id="unansweredCardDiv" class="cardDiv card-body">
        </div>
    </tab>
    <tab tabTitle="Answered Questions">
        <div id="answeredCardDiv" class="cardDiv card-body">
        </div>
    </tab>
</tabs>

